<style>

/**
預設顯示
**/
[contenteditable="true"]:empty:not(:focus):before {
	content: attr(data-text);
}

#content_excel {
	height: 485px;
	border-collapse: separate;
	border-spacing: 0px;
}
</style>
<script src="./thirdparty/js/jquery.table2excel.js"></script>
<div class="pt-4 m-0 row shadow" id="production_sn_list_body">
	<div class="col-md-12 p-0">
		<div class="mb-3 text-center">
			<h3>
				<b>產品序號清單 總表</b>
			</h3>
		</div>
		<!-- 項目:目前SN序號 -->
		<div class="mb-3 border border-primary rounded shadow bg-light">
			<div class="col p-0">
				<a class="btn btn-success btn-sm" aria-controls="showArea" href="#showArea" data-toggle="collapse" role="button" aria-expanded="true">查詢SN</a>
			</div>
			<div id="showArea" class="h5 collapse show m-0">
				<div class="p-1 mb-2 mt-2 m-0 row">
					<div class="col-md-2 p-1">
						<div class="col p-1">產品SN身分:</div>
						<div class="col p-1">
							<input class="col-md-12" type="text" id="s_sn" placeholder="Ex:13BB12102A888" required autofocus />
						</div>
					</div>
					<div class="col-md-2 p-1">
						<div class="col p-1">製令單號:</div>
						<div class="col p-1">
							<input class="col-md-12" type="text" id="s_p_id" placeholder="Ex:A513-00123456789" required />
						</div>
					</div>
					<div class="col-md-2 p-1">
						<div class="col p-1">起始日期:</div>
						<div class="col p-1">
							<input class="col-md-12" type="text" id="s_s_d" placeholder="Ex:2021-01-13" />
						</div>
					</div>
					<div class="col-md-2 p-1">
						<div class="col p-1">結束日期:</div>
						<div class="col p-1">
							<input class="col-md-12" type="text" id="s_e_d" placeholder="Ex:2021-01-13" />
						</div>
					</div>
				</div>
				<div class="row m-0 justify-content-center">
					<div class="row m-0 justify-content-center col-md-2 p-2">
						<button id="s_submit" type="submit" class="col-md-10 btn btn-primary btn-block">查詢</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 項目:規則SN設定 -->
		<div class="border border-primary rounded shadow bg-light">
			<div class="col p-0">
				<a class="btn btn-success btn-sm" aria-controls="ruleArea" href="#ruleArea" data-toggle="collapse" role="button" aria-expanded="true">查詢清單</a>
			</div>
			<div id="ruleArea" class="collapse show">
				<div class="p-1 mb-2 mt-2 m-0 row">
					<!--(個項目) i_g_id_i_id = i_群組ID_項目ID -->
					<table id="content_excel" class="m-0 bg-white border border-secondary table table-sm table-hover table-striped table-bordered table-responsive" style="width: 100%;">
						<thead>
							<tr id="i_name" class="h5 table-primary" style="position: sticky; top: 0px; z-index: 1;">
								<td class=" p-0 border border-secondary no_show_excel" style="min-width: 70px;"><b>功能</b></td>
								<td class=" p-0 border border-secondary" style="min-width: 200px;"><b>日期</b></td>
								<td class=" p-0 border border-secondary" style="min-width: 200px;"><b>客戶</b></td>
								<td class=" p-0 border border-secondary" style="width: 100%;"><b>製令</b></td>
								<td class=" p-0 border border-secondary" style="min-width: 200px;"><b>S/N起始</b></td>
								<td class=" p-0 border border-secondary" style="min-width: 200px;"><b>S/N結束</b></td>
								<td class=" p-0 border border-secondary" style="min-width: 80px;"><b>數量</b></td>
								<td class=" p-0 border border-secondary" style="min-width: 150px;"><b>機種</b></td>
							</tr>
						</thead>
						<tbody class="items">
							<tr class="border border-primary no_show_excel" id="i_new_sn">
								<td class="p-1 border border-secondary i_date">
									<button id="i_added_new" type="button" class="col-12 btn btn-success btn-sm p-1">新增</button>
								</td>
								<td class="p-1 border border-warning" style="white-space: nowrap;" id="i_date_new"><input class="col-md-12 p-1" type="text" placeholder="Ex:2021-01-13" /></td>
								<td class="p-1 border border-warning" style="white-space: nowrap;" contenteditable="true" id="i_client_new"></td>
								<td class="p-1 border border-warning" style="white-space: nowrap;" contenteditable="true" id="i_id_new"></td>
								<td class="p-1 border border-warning" style="white-space: nowrap;" contenteditable="true" id="i_sn_start_new"></td>
								<td class="p-1 border border-warning" style="white-space: nowrap;" contenteditable="true" id="i_sn_end_new"></td>
								<td class="p-1 border border-warning" style="white-space: nowrap;" contenteditable="true" id="i_sn_number_new"></td>
								<td class="p-1 border border-warning" style="white-space: nowrap;" contenteditable="true" id="i_sn_model_new"></td>
							</tr>
							<!-- 樣本 -->
							<tr id="i_demo" class="d-none no_show_excel">
								<td class="p-1 border border-secondary i_function no_show_excel">
									<button name="i_delete_new" type="button" class="btn btn-danger col-12 p-0 btn-sm i_delete" style="height: 22px;">(刪)</button>
								</td>
								<td class="p-1 border border-secondary i_date"></td>
								<td class="p-1 border border-secondary i_client"></td>
								<td class="p-1 border border-secondary i_id"></td>
								<td class="p-1 border border-secondary i_sn_start"></td>
								<td class="p-1 border border-secondary i_sn_end"></td>
								<td class="p-1 border border-secondary i_sn_number"></td>
								<td class="p-1 border border-secondary i_sn_model"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row m-0 justify-content-center">
				<div class="row m-0 justify-content-center col-md-2 p-2">
					<button id="p_submit_export" class="col-md-10 btn btn-primary btn-block" type="button">Excel 匯出</button>
				</div>
				<div class="row m-0 justify-content-center col-md-2 p-2">
					<button id="p_submit_def" class="col-md-10 btn btn-warning btn-block" type="button">取消還原</button>
				</div>
				<div class="row m-0 justify-content-center col-md-2 p-2">
					<button id="p_submit_save" class="col-md-10 btn btn-success btn-block" type="button">儲存資料</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	console.log("production_sn_list_body");
	templateBody = new Vue({
		el : "#production_sn_list_body",
		data : {
			search_list : "",
			//新添加的項目
			item_n_sn : 0,
		},
		created : function() {
			//初始化
			//console.log(main.contentData.templateInfo.body["item_list"]);
			this.search_list = main.contentData.templateInfo.body["item_list"];

			//日期
			$(document).ready(function(event) {
				$("#s_s_d").datepicker({
					dateFormat : "yy-mm-dd",
					maxDate : 0
				});
			});
			$(document).ready(function(event) {
				$("#s_e_d").datepicker({
					dateFormat : "yy-mm-dd",
					maxDate : 0
				});
			});
			$(document).ready(function(event) {
				$("#i_date_new input").datepicker({
					dateFormat : "yy-mm-dd",
					maxDate : 0
				});
			});

			//建立監聽
			//增加規則+ 監聽
			$(document).on("click", "#i_added_new", function(event) {
				templateBody.i_added_new();
			});
			//刪除項目- 監聽
			$(document).on("click", ".i_delete", function(event) {
				templateBody.item_delete(event.target.name);
			});
			//儲存內容 
			$(document).on("click", "#p_submit_save", function(event) {
				templateBody.send_search_save("./production_sn_list_update.do");
			});
			//取消還原
			$(document).on("click", "#p_submit_def", function(event) {
				templateBody.send_search_save("./production_sn_list.do");
			});

			//查詢
			$(document).on("click", "#s_submit", function(event) {
				templateBody.send_search_save("./production_sn_list.do");
			});
			//匯出Excel
			$(document).on("click", "#p_submit_export", function(event) {
				templateBody.export_excel();
			});

			//t_body
			this.update_body();
		},
		methods : {
			//檢查-內容
			sn_check : function() {
				if ($('#i_date_new input').val() == "" || $('#i_client_new').text() == "" || $('#i_id_new').text() == "" || $('#i_sn_start_new').text() == ""
						|| $('#i_sn_end_new').text() == "" || $('#i_sn_number_new').text() == "" || $('#i_sn_model_new').text() == "") {
					return false;
				}

				return true;
			},

			//添加SN 身分總表
			i_added_new : function() {
				if (!this.sn_check()) {
					return false;
				}
				//進行複製(新增)
				this.item_n_sn += 1;
				var i_demo = $('#i_demo').clone();
				i_demo.removeClass("d-none");
				i_demo.removeClass("no_show_excel");

				i_demo.attr('id', 'new_' + this.item_n_sn);
				i_demo.attr('class', 'new_sn_list');
				i_demo.find('.i_delete').attr('name', 'new_' + this.item_n_sn);

				i_demo.find(".i_date").text($('#i_date_new input').val());
				i_demo.find(".i_client").text($('#i_client_new').text());
				i_demo.find(".i_id").text($('#i_id_new').text());
				i_demo.find(".i_sn_start").text($('#i_sn_start_new').text());
				i_demo.find(".i_sn_end").text($('#i_sn_end_new').text());
				i_demo.find(".i_sn_number").text($('#i_sn_number_new').text());
				i_demo.find(".i_sn_model").text($('#i_sn_model_new').text());
				i_demo.insertAfter($('#i_demo'));

				//清空規則
				$('#i_date_new input').val("");
				$('#i_client_new').text("");
				$('#i_id_new').text("");
				$('#i_sn_start_new').text("");
				$('#i_sn_end_new').text("");
				$('#i_sn_number_new').text("");
				$('#i_sn_model_new').text("");

			},
			//移除項目
			item_delete : function(g_i) {
				//臨時添加的(直接移除)--DB內有的(選取後移除)
				if ($('#' + g_i).length > 0) {
					$('#' + g_i).remove();
				} else {
					var id = g_i.replace("old_", "");
					$('#' + id).addClass("bg-warning");
				}
				console.log(g_i);

				//old_55555ssa
			},
			//更新介面
			update_body : function() {
				var i_demo = "";
				var i_c = "";
				//重製(清除舊資料)
				$('.old_sn_list').remove();
				$('.new_sn_list').remove();
				//重複提醒
				var i_sn_start = "";
				var i_sn_end = "";
				var repeat = false;
				for (var i = (this.search_list.length - 1); i > 0; i--) {
					i_c = this.search_list[i];
					//console.log(i_c);
					//重複?
					if (i_sn_start != "" && i_sn_end != "") {
						repeat = false;
						if (i_c[15] >= i_sn_start && i_c[15] <= i_sn_end) {
							repeat = true;
						}
					}
					i_sn_start = i_c[15];
					i_sn_end = i_c[16];
					//資料
					i_demo = $('#i_demo').clone();
					i_demo.removeClass("d-none");
					i_demo.removeClass("no_show_excel");
					i_demo.attr('class', 'old_sn_list');
					//添加顯示內容
					i_demo.attr("id", "");
					i_demo.find(".i_date").text(i_c[2]);
					i_demo.find(".i_client").text(i_c[9]);
					i_demo.find(".i_id").text(i_c[4]);
					i_demo.find(".i_sn_start").text(i_c[15]);
					i_demo.find(".i_sn_end").text(i_c[16]);
					i_demo.find(".i_sn_number").text(i_c[6]);
					i_demo.find(".i_sn_model").text(i_c[10]);
					if (i_c[13] != "自訂紀錄") {
						i_demo.find('.i_delete').remove();
					} else {
						i_demo.find('.i_delete').attr('name', 'old_' + i_c[4]);
						i_demo.attr("id", i_c[4]);
					}
					if (repeat) {
						i_demo.addClass('bg-warning');
					}
					i_demo.insertAfter($('#i_demo'));
				}
			},
			//匯出 excel
			export_excel : function() {
				$("#content_excel").table2excel({
					// exclude CSS class
					exclude : ".no_show_excel",//忽略項目
					name : "Worksheet Name",
					filename : "SN_Export_" + $.datepicker.formatDate('yy-mm-dd', new Date()) + ".xls",//do not include extension
					fileext : ".xls" // file extension
				});
			},
			//傳送 修改/查詢
			send_search_save : function(url) {
				var content = new Object();
				var detail = new Object();
				var added = [];
				var deletes = [];
				var action = "U";
				var x = 0;
				if (url == null || url == "")
					url = "./production_sn_list.do";
				//要查詢的
				content.s_sn = $('#s_sn').val();
				content.s_p_id = $('#s_p_id').val();
				content.s_s_d = $('#s_s_d').val();
				content.s_e_d = $('#s_e_d').val();
				//要刪除的
				console.log($('#content_excel .bg-warning'));

				for (var i = 0; i < $('#content_excel .bg-warning').length; i++) {
					deletes[i] = $('#content_excel .bg-warning')[i].id;
				}

				//要新增的
				for (var i = 0; i < $(".new_sn_list").length; i++) {

					//console.log($(".new_sn_list")[i].id);
					detail = new Object();
					detail.i_date = $("#" + $(".new_sn_list")[i].id).find(".i_date").text();
					detail.i_client = $("#" + $(".new_sn_list")[i].id).find(".i_client").text();
					detail.i_id = $("#" + $(".new_sn_list")[i].id).find(".i_id").text();
					detail.i_sn_start = $("#" + $(".new_sn_list")[i].id).find(".i_sn_start").text();
					detail.i_sn_end = $("#" + $(".new_sn_list")[i].id).find(".i_sn_end").text();
					detail.i_sn_number = $("#" + $(".new_sn_list")[i].id).find(".i_sn_number").text();
					detail.i_sn_model = $("#" + $(".new_sn_list")[i].id).find(".i_sn_model").text();
					added[i] = detail;
				}
				content.sn_add = added;
				content.sn_delete = deletes;
				//傳送封裝
				console.log(content);
				var order = "search_update"; //指令
				var data = JSON.stringify({
					data : {
						datetime : "",
						action : action,
						whoami : main.loginData.account,
						cellBackName : "bodyAfter",
						cellBackOrder : order,
						content : content,
					},
				});
				main.ajaxSend(url, data);
				return false; //防止真傳送
			},
			//Rsp-回傳值-指令
			bodyAfter : function(event) {
				console.log("to index success");
				switch (event.r_cellBackOrder) {
				case "search_update":
					//刷新資料
					if (event.r_content.templateInfo.body["item_list"] != null && event.r_content.templateInfo.body["item_list"] != "") {
						this.search_list = event.r_content.templateInfo.body["item_list"];
						this.update_body();
					}
					break;
				case "update_body_nav":
					break;
				}
			},
		},
		//移除監聽事件
		beforeDestroy : function() {
			console.log("to beforeDestroy event");
			$(document).off("click", "#i_added_new");
			$(document).off("click", "#p_submit_save");
			$(document).off("click", "#p_submit_export");
			$(document).off("click", "#p_submit_def");
			$(document).off("click", ".i_delete");
			$(document).off("click", "#s_submit");

		},
	});
</script>