<div class="row border" id="purchasing_setting_body">
	<div class="col-md-12 border">
		<!-- 功能: 查詢 /新增 /修改 -->
		<div class="mt-3 mb-3 border">
			<div class="mb-3">
				<h3>
					<b>自動自發寄信設定</b>
				</h3>
			</div>
			<!-- 查詢功能 -->
			<div class="mb-3 border border-primary shadow">
				<div class="row mb-2">
					<div class="col-md-5">
						<a class="btn btn-success" data-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="true" aria-controls="collapseSearch"> 查詢功能 : </a>
					</div>
				</div>
				<div class="mb-3 collapse show" id="collapseSearch">
					<div class="row mb-5">
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-12 text-left">
									關鍵字(料號) : <input class="col-md-7" type="text" id="s_erp_item_no" placeholder="Ex:0800092000" required autofocus />
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-12 text-left">
									關鍵字(品號) : <input class="col-md-7" type="text" id="s_erp_item_name" placeholder="Ex:螺絲釘" required />
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-12 text-left">
									使用者(人名) : <input class="col-md-7" type="text" id="s_user_name" placeholder="Ex:無名氏" required />
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-5"></div>
						<div class="col-md-2">
							<button id="s_submit" class="col-md-12 btn btn-primary btn-block" type="submit">查詢</button>
						</div>
						<div class="col-md-5"></div>
					</div>
				</div>
			</div>
			<!-- 功能:查詢結果  /修改 -->
			<div class="mb-3 border border-primary shadow">
				<div class="border">
					<div class="row mb-2">
						<div class="col-md-5">
							<a class="btn btn-success" data-toggle="collapse" href="#collapseFinish" role="button" aria-expanded="true" aria-controls="collapseFinish"> 寄信清單紀錄 : </a>
						</div>
					</div>
					<div class="collapse show" id="collapseFinish">
						<div class="col-md-12">
							<div id="search_choose" class="row mb-2">
								<div class="text-left">
									<b>顯示名稱-></b>
								</div>
							</div>
							<!-- 顯示內容 -->
							<div class="row">
								<table style="min-height: 480px;" class="table table-sm table-hover table-striped table-bordered table-responsive">
									<thead>
										<tr id="search_thead" class="bg-primary">
											<th scope="col" style="min-width: 90px;">功能</th>
											<th scope="col" style="min-width: 30px;">筆</th>
										</tr>
									</thead>
									<tbody id="search_tbody"></tbody>
								</table>
							</div>
							<div aria-label="Page">
								<ul class="pagination justify-content-center">
									<li class="page-item p_p disabled"><a id="p_p" class="page-link" href="#" onclick="return templateBody.change_page(this);">Previous 10 </a></li>
									<li class="page-item p_nb p1 active"><a id="p1" class="page-link" href="#" onclick="return templateBody.change_page(this);">1</a></li>
									<li class="page-item p_nb p2"><a id="p2" class="page-link" href="#" onclick="return templateBody.change_page(this);">2</a></li>
									<li class="page-item p_nb p3"><a id="p3" class="page-link" href="#" onclick="return templateBody.change_page(this);">3</a></li>
									<li class="page-item p_nb p4"><a id="p4" class="page-link" href="#" onclick="return templateBody.change_page(this);">4</a></li>
									<li class="page-item p_nb p5"><a id="p5" class="page-link" href="#" onclick="return templateBody.change_page(this);">5</a></li>
									<li class="page-item p_nb p6"><a id="p6" class="page-link" href="#" onclick="return templateBody.change_page(this);">6</a></li>
									<li class="page-item p_nb p7"><a id="p7" class="page-link" href="#" onclick="return templateBody.change_page(this);">7</a></li>
									<li class="page-item p_nb p8"><a id="p8" class="page-link" href="#" onclick="return templateBody.change_page(this);">8</a></li>
									<li class="page-item p_nb p9"><a id="p9" class="page-link" href="#" onclick="return templateBody.change_page(this);">9</a></li>
									<li class="page-item p_nb p10"><a id="p10" class="page-link" href="#" onclick="return templateBody.change_page(this);">10</a></li>
									<li class="page-item p_n disabled"><a id="p_n" class="page-link" href="#" onclick="return templateBody.change_page(this);">Next 10 </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 新增/修改功能 -->
			<div class="border border-primary shadow">
				<div class="row mb-2">
					<div class="col-md-5">
						<a class="btn btn-success" data-toggle="collapse" href="#collapseAdded" role="button" aria-expanded="true" aria-controls="collapseAdded"> 設定寄信參數 功能 : </a>
					</div>
				</div>
				<form onsubmit="return templateBody.send_added_or_update_save();">
					<div class="collapse show" id="collapseAdded">
						<!-- 新增 或 修改(分辨) -->
						<div class="row mb-2">
							<div class="col-md-2 pr-0">
								<div class="row">
									<div class="col-md-12 text-left">
										<div class="col-md-12">狀態 :</div>
										<div class="col-md-12" id="a_u_type" style="font-size: 25px; color: red;">修改設定</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-md-7">
								<div class="row">
									<div class="col-md-2 pr-0">修改時間:</div>
									<div class="col-md-4 pr-0" id="a_modify_date">2020-09-01</div>
									<div class="col-md-2 pr-0">修改人:</div>
									<div class="col-md-3 pr-0" id="a_modify_user">admin</div>
								</div>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-md-5">
								<div class="row">
									<div class="col-md-4 pr-0">寄信日區間->起始:</div>
									<div class="col-md-2">
										<input class="col-md-12 pr-0" type="text" id="a_s_date" placeholder="Ex:5" value="5" required />
									</div>
									<div class="col-md-2 pr-0">->結算:</div>
									<div class="col-md-2">
										<input class="col-md-12 pr-0" type="text" id="a_e_date" placeholder="Ex:10" value="10" required />
									</div>
									<div class="col-md-1">日</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<div class="col-md-6 pr-0">收件者->負責人:</div>
									<input type="checkbox" id="a_u_mail" class="col-md-1" style="height: 25px;" checked required />
									<div class="col-md-4 pr-0">CC 廠商:</div>
									<input type="checkbox" id="a_cc_mail" class="col-md-1" style="height: 25px;" disabled="disabled" />
								</div>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-md-5">
								<div class="row">
									<div class="col-md-4 pr-0">寄件伺服器->Mail:</div>
									<div class="col-md-7">
										<input class="col-md-12" type="text" id="a_s_mail" placeholder="Ex:example@dtri.com" required />
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="row">
									<div class="col-md-5 pr-0">寄件伺服器->Password:</div>
									<div class="col-md-6">
										<input class="col-md-12" type="password" id="a_s_password" placeholder="Ex:example123" required />
									</div>
								</div>
							</div>
						</div>

						<div class="dropdown-divider" style="border-top: 1px solid green;"></div>
						<!-- 新增 或 修改 或 刪除(內容) -->
						<div class="mb-3 mt-3">
							<div class="text-left">
								<b>格式內容 : 說明 : </b>${sendName} = 收件者(採購負責人) / ${itemList}=貨物項目清單
							</div>
						</div>
						<div class="mb-3 mt-3">
							<textarea id="a_m_content" placeholder="寄件樣本" rows="20" class="col-md-12">
Dear Partners,

這是由我們系統自動發送關於交貨的通知.

通知是為了提醒您以下重要的訂單和到貨日期, 提前做好出貨的相關準備.

This message is automatically send from our system for concerning shipment matter.

This notification is to remind you the following material orders and arrival schedule on ${arrivalDate} ,

please do the related preparation in advance.

${itemList}

                            </textarea>
						</div>
						<!-- 設定 內容 -->
						<div class="row mb-3">
							<div class="col-md-3"></div>
							<div class="col-md-2">
								<div class="">
									<button id="a_u_submit" class="btn btn-primary btn-block" type="submit">存入資料</button>
								</div>
							</div>
							<div class="col-md-2">
								<div class="">
									<button id="a_c_submit" class="btn btn-warning btn-block" type="button">還原內容</button>
								</div>
							</div>
							<div class="col-md-2">
								<div class="">
									<button id="a_m_submit" class="btn btn-secondary btn-block" type="button">測試寄信</button>
								</div>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	console.log("purchasing_setting_body");
	templateBody = new Vue({
		el : "purchasing_setting_body",
		data : {
			list_item : "",
			list_order : "",
			mail_setting : "",
			mail_content : "",
			t_p_row_number : 2,
			//分頁功能
			page_max : 100,//當前本批 筆數
			page_max_total : 100,//最大總數
			page_batch : 0,//第幾批
			page_batch_total : 100,//每批間格值
			page_every : 10,//當前每頁筆數
			page_stay : 1,//當前頁數
		},
		created : function() {
			//初始化
			templateBody = this;
			console.log(main.contentData.templateInfo.body);
			this.list_item = main.contentData.templateInfo.body["list_item"];
			this.list_order = main.contentData.templateInfo.body["list_order"];
			this.mail_setting = main.contentData.templateInfo.body["mail_setting"];
			this.mail_content = main.contentData.templateInfo.body["mail_content"];
			//t_choose
			var t_choose = "";
			for (var i = 0; i < this.list_item[0].length; i++) {
				t_choose += '[<div class="text-left form-check">';
				t_choose += '<input class="form-check-input" type="checkbox" value="" id="s_' + i + '" checked>';
				t_choose += '<label class="form-check-label" for="s_' + i + '">';
				t_choose += this.list_item[0][i];
				t_choose += "</label></div>]";
			}
			$("#search_choose").append(t_choose);
			//t_header_group
			var t_header_group = "";
			var min_width = "85px";
			for (var i = 0; i < this.list_item[0].length; i++) {
				min_width = "85px";
				if (i == 1 || i == 2 || i == 6 || i == 10) {
					min_width = "175px";
				} else if (i == 3 || i == 7 || i == 9 || i == 12 || i == 14) {
					min_width = "250px";
				}
				t_header_group += '<th style="min-width: ' + min_width + ';" class="s_' + i + '" scope="col">' + this.list_item[0][i] + "</th>";
			}
			$("#search_thead").append(t_header_group);

			//t_body_purchasing
			this.search_update();
			this.df_added();

			//動態監聽顯示Table 物件 查看開關
			$(document).on("click", "#search_choose input", function(event) {
				templateBody.search_choose(event);
			});
			//查詢監聽
			$(document).on("click", "#s_submit", function(event) {
				templateBody.send_search();
			});
			//還原修改
			$(document).on("click", "#a_c_submit", function(event) {
				templateBody.df_added();
			});
			$(document).on("click", "#a_m_submit", function(event) {
				templateBody.test_send_mail();
			});

		},
		methods : {
			//查詢更新
			search_update : function() {
				$("#search_tbody").empty();
				//t_body
				var t_body = "";
				var list_id = "";
				var a_submit = "";
				//頁數-刷新
				this.change_page_update();

				for (var i = 0; i < this.list_order.length; i++) {
					//頁數-每頁顯示(不再顯示範圍內則隱藏)
					var page_group = this.change_page_btn(i);
					//功能
					list_id = this.list_order[i][0];

					a_submit = "";
					a_submit += '<div class="md-6">';
					a_submit += '<button purchasing_id="' + list_id + '" class="btn btn-warning btn-sm btn-block a_submit">';
					a_submit += "預覽</button></div>";
					t_body += '<tr class="page_all t_row' + list_id + ' '+page_group+'" style="white-space: nowrap;" ><th class="ml-0 col-md-12 row">' + a_submit + "</th>";
					//計數量
					t_body += "<td>" + (i + 1) + "</td>";
					//關聯內容
					for (var j = 0; j < this.list_order[i].length; j++) {
						t_body += "<td class=s_" + j + ">" + this.list_order[i][j] + "</td>";
					}
				}
				$("#search_tbody").append(t_body + "</tr>");
			},
			//顯示 查詢列表
			search_choose : function(event) {
				console.log(event.target.checked);
				if (!event.target.checked) {
					$("#search_thead ." + event.target.id).hide();
					$("#search_tbody ." + event.target.id).hide();
				} else {
					$("#search_thead ." + event.target.id).show();
					$("#search_tbody ." + event.target.id).show();
				}
			},

			//還原修該內容
			df_added : function() {
				//更新設定
				var check = true;
				if (this.mail_setting.cc_mail == "true") {
					check = true;
				} else {
					check = false;
				}
				$("#a_cc_mail").prop("checked", check);
				if (this.mail_setting.u_mail == "true") {
					check = true;
				} else {
					check = false;
				}
				$("#a_u_mail").prop("checked", check);

				$("#a_s_mail").val(this.mail_setting.s_mail);
				$("#a_s_password").val(this.mail_setting.s_password);
				$("#a_s_date").val(this.mail_setting.s_date);
				$("#a_e_date").val(this.mail_setting.e_date);

				//更新內容
				$("#a_modify_date").text(this.mail_content.modify_date);
				$("#a_modify_user").text(this.mail_content.modify_user);
				$("#a_m_content").val(this.mail_content.content);
				$("#a_m_content").attr("m_id", this.mail_content.id);
			},
			test_send_mail : function() {
				var content = new Object();
				var order = "search_update"; //指令
				var action = "T";
				var url = "./testmail_purchasing_setting.do";
				content.testsend = "try";
				console.log(content);
				var data = JSON.stringify({
					data : {
						datetime : "",
						action : action,
						whoami : main.loginData.account,
						cellBackName : "bodyAfter",
						cellBackOrder : order,
						content : content,
					},
				});
				main.ajaxSend(url, data);

			},
			//傳送 新增 or 修改 or 刪除
			send_added_or_update_save : function() {
				var content = new Object();
				var setting_all = [];
				var mail_content = new Object();

				//頁數-重製分頁
				this.change_page_init();

				//設定
				var cc_mail = $("#a_cc_mail").is(":checked");
				var u_mail = $("#a_u_mail").is(":checked");
				var s_password = $("#a_s_password").val();
				var s_mail = $("#a_s_mail").val();
				var s_date = $("#a_s_date").val();
				var e_date = $("#a_e_date").val();
				setting_all = {
					"cc_mail" : cc_mail,
					"u_mail" : u_mail,
					"s_password" : s_password,
					"s_mail" : s_mail,
					"s_date" : s_date,
					"e_date" : e_date
				};
				content.setting = setting_all;

				//寄件內容
				mail_content.id = $("#a_m_content").attr("m_id");
				mail_content.content = $("#a_m_content").val();
				content.mail_content = mail_content;
				console.log(content);

				var order = "search_update"; //指令
				var action = "U";
				var url = "./update_purchasing_setting.do";

				var data = JSON.stringify({
					data : {
						datetime : "",
						action : action,
						whoami : main.loginData.account,
						cellBackName : "bodyAfter",
						cellBackOrder : order,
						content : content,
					},
				});
				main.ajaxSend(url, data);
				return false; //防止真傳送
			},
			//傳送 查詢
			send_search : function() {
				var content = new Object();
				var search = new Object();
				search.erp_item_name = $("#s_erp_item_name").val();
				search.erp_item_no = $("#s_erp_item_no").val();
				search.user_name = $("#s_user_name").val();

				content.page_nb = this.page_batch * this.page_batch_total;//批次(起始數)
				content.page_total = this.page_batch_total;//(每次要的最大數量)

				content.search = search;

				var url = "./purchasing_setting.do";
				var order = "search_update"; //指令

				var data = JSON.stringify({
					data : {
						datetime : "",
						action : "R",
						whoami : main.loginData.account,
						cellBackName : "bodyAfter",
						cellBackOrder : order,
						content : content,
					},
				});
				main.ajaxSend(url, data);
			},
			//Rsp-回傳值
			bodyAfter : function(event) {
				console.log("to index success");
				switch (event.r_cellBackOrder //指令
				) {
				case "search_update":
					//空直免刷新
					if (event.r_content.templateInfo.body["list_order"] != null && event.r_content.templateInfo.body["list_order"] != "") {
						//刷新資料
						this.list_order = event.r_content.templateInfo.body["list_order"];
						this.mail_setting = main.contentData.templateInfo.body["mail_setting"];
						this.mail_content = main.contentData.templateInfo.body["mail_content"];
						this.search_update();
					}
					break;
				case "update_body_nav":
					break;
				}
			},
			//頁數-初始化(新增 or 修改 or 刪除 or 條件 要重製)
			change_page_init : function() {
				//active 更換為第一格
				var a = "active";
				var d = "disabled";
				$(".page-item").removeClass(a);
				$(".page-item").removeClass(d);
				for (var re_page = 1; re_page <= 10; re_page++) {
					var now_page = re_page + (this.page_batch * 10);
					//如果就在第一頁 不需更換
					if (!$(".p" + now_page).hasClass("p" + re_page)) {
						$(".p" + now_page).addClass("p" + re_page);
						$(".p" + re_page).removeClass("p" + now_page);
						$(".p" + re_page + " a").text(re_page);
						$(".p" + re_page + " a").attr("id", "p" + re_page);
					}
					if (re_page == 1) {
						$(".p" + now_page).addClass(a);
					}
				}
				//分頁功能
				this.page_max = 100;//當前本批 筆數
				this.page_max_total = 100;//最大總數
				this.page_batch = 0;//第幾批
				this.page_batch_total = 100;//每批間格值
				this.page_every = 10;//當前每頁筆數
				this.page_stay = 1;//當前頁數

			},
			//頁數-刷新
			change_page_update : function() {
				//頁數-取得當前最大筆數 && 頁數
				this.page_max = this.list_order.length;
				$(".p_n").removeClass("disabled");
				if (this.page_max < this.page_max_total) {
					$(".p_n").addClass("disabled");
				}
				$(".p_p").removeClass("disabled");
				if (this.page_batch < 1) {
					$(".p_p").addClass("disabled");
				}
				//頁數-隱藏多於頁數
				$(".p_nb").addClass("disabled");

			},
			//頁數-換頁按鈕建置(頁數-每頁顯示)
			change_page_btn : function(i) {
				var d_none = "";
				if (i > (this.page_every * this.page_stay)) {
					d_none = "d-none";
				}
				//頁數-(個位數)+(十位數)
				var page_group = "pg_" + (Math.floor((i - 1) / this.page_every) + 1 + (this.page_batch * 10));
				var page_nb = "p" + (Math.floor((i - 1) / this.page_every) + 1 + (this.page_batch * 10));
				$("." + page_nb).removeClass("disabled");
				return page_group + " " + d_none;
			},
			//頁數-換頁查詢
			change_page : function(event) {
				var d = "disabled";
				var d_n = "d-none";
				var a = "active";
				var pg = "pg_";
				console.log("page btn is:" + event.text);
				//選定頁數
				if (event.id != "p_p" && event.id != "p_n") {
					$(".page-item").removeClass(a);
					$("." + event.id).addClass(a);

					$(".page_all").addClass(d_n);
					$("." + pg + event.text).removeClass(d_n);

				} else if (event.id == "p_p") {//上10頁(批數 要大於1)
					if (this.page_batch > 0) {
						//換上一批次 頁數
						$(".page-item").removeClass(a);

						for (var i = 1; i <= 10; i++) {
							var now_page = i + (this.page_batch * 10);
							var previous_page = i + ((this.page_batch) * 10) - 10;
							$(".p" + now_page).addClass("p" + previous_page);
							$(".p" + previous_page).removeClass("p" + now_page);
							$(".p" + previous_page + " a").text(previous_page);
							$(".p" + previous_page + " a").attr("id", "p" + previous_page);
							if (i == 1) {
								$(".p" + previous_page).addClass(a);
							}
						}
						this.page_batch -= 1;
						this.send_search();
					}
				} else if (event.id == "p_n") {//下10頁(必須滿100筆最大量 )
					if (this.page_max >= this.page_max_total) {
						//換下一批次 頁數
						$(".page-item").removeClass(a);
						for (var i = 1; i <= 10; i++) {
							var now_page = i + (this.page_batch * 10);
							var next_page = i + ((this.page_batch + 1) * 10);
							$(".p" + now_page).addClass("p" + next_page);
							$(".p" + next_page).removeClass("p" + now_page);
							$(".p" + next_page + " a").text(next_page);
							$(".p" + next_page + " a").attr("id", "p" + next_page);
							if (i == 1) {
								$(".p" + next_page).addClass(a);
							}
						}
						this.page_batch += 1;
						this.send_search();
					}
				}

				return false;
			},
		},
		//監聽事件移除
		beforeDestroy : function() {
			console.log("to beforeDestroy event");

			$(document).off("click", "#search_choose input");
			$(document).off("click", "#s_submit");
			$(document).off("click", "#a_c_submit");
			$(document).off("click", "#a_m_submit");
			$(document).off("click", ".a_submit");
		},
	});
</script>